*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  height: auto;
  width: 100vw;
  font-family: "Noto Sans", sans-serif;
  background-color: #f3f3f3;
  color: #777;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: [sidebar-start] 5rem [sidebar-end content-start] minmax(calc(100vh - 5rem), max-content) [content-end]; }

.content {
  grid-row: content-start / content-end; }

.moveInRight-active {
  animation: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-out; }

.moveInLeft-active {
  animation: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out; }

.fadeOut-active {
  animation: fadeOut;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

.fadeIn-active {
  animation: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

/* fade in */
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  80% {
    opacity: .2; }
  100% {
    opacity: 0; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  80% {
    opacity: .8; }
  100% {
    opacity: 1; } }

.heading-1, .heading-2 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 6.5rem;
  color: #333;
  line-height: 1;
  font-weight: 800;
  transform: translateX(-8px); }

.heading-2 {
  font-size: 2rem;
  font-weight: 100;
  line-height: 1; }
  .heading-2--light {
    color: #faf9f9; }
  .heading-2--dark {
    color: #333; }

.heading-secondary {
  font-size: 7rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #999, #333);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }

.heading-tertiary {
  color: #555;
  font-size: 1.7rem; }

.heading-date {
  color: #333;
  font-size: 1.2rem;
  font-weight: 100; }

.heading-job-title,
.heading-project-title {
  line-height: 2;
  color: #333;
  font-size: 1.7rem;
  font-weight: 800;
  margin-bottom: 2rem;
  transform: translateY(-8px); }

.paragraph {
  font-size: 1.5rem;
  font-weight: 100;
  color: #000;
  display: inline-block;
  margin: 2rem 0 2rem 0; }
  .paragraph__ul {
    font-size: 1.5rem;
    color: #000;
    line-height: 2; }

.navbar {
  font-family: "Noto Sans", sans-serif;
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  color: #333;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .navbar {
      visibility: hidden; } }
  @media only screen and (max-width: 37.5em) {
    .navbar {
      visibility: hidden; } }
  .navbar__name {
    font-size: 2rem;
    font-weight: 800;
    padding-left: 5rem;
    display: inline-block;
    padding-right: 1rem;
    cursor: pointer;
    transition: all .2s; }
    .navbar__name::before {
      content: "";
      height: 2rem;
      width: 2rem;
      background-color: orangered;
      border-radius: 50% 50%;
      display: inline-block;
      margin-right: 8px;
      vertical-align: -4px; }
    .navbar__name:hover {
      transform: translateY(-3px); }
  .navbar__title {
    font-size: 1.5rem;
    display: inline-block; }
  .navbar__nav {
    list-style: none;
    grid-column: 3 / -1;
    display: grid;
    grid-template-columns: 1fr repeat(3, max-content);
    column-gap: 2rem;
    align-items: center;
    justify-items: end; }
    .navbar__nav__link, .navbar__nav__link:visited {
      font-size: 1.7rem;
      color: #333;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      padding: 1.5rem;
      display: block;
      transition: all .2s; }
    .navbar__nav__link:hover, .navbar__nav__link:active {
      transform: translateY(-4px); }

.navigation {
  visibility: hidden; }
  .navigation__checkbox {
    display: none; }
  @media only screen and (max-width: 56.25em) {
    .navigation {
      visibility: visible; } }
  @media only screen and (max-width: 37.5em) {
    .navigation {
      visibility: visible; } }
  .navigation__button {
    background-color: #f3f3f3;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .navigation__button {
        top: 4rem;
        right: 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .navigation__button {
        top: 3rem;
        right: 3rem; } }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(#777, #999);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
    @media only screen and (max-width: 56.25em) {
      .navigation__background {
        top: 4.5rem;
        right: 4.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .navigation__background {
        top: 3.5rem;
        right: 3.5rem; } }
  .navigation__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #f3f3f3;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #f3f3f3 50%);
    background-size: 230%;
    transition: all .4s; }
  .navigation__link:hover {
    background-position: 100%;
    color: #777;
    transform: translatex(1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
    z-index: 1500; }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #999;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.header {
  padding: 15rem 20rem 15rem 20rem;
  color: #333;
  line-height: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-items: center;
  align-items: center; }
  .header__img {
    justify-self: end;
    display: inline-block;
    height: auto;
    width: 45rem;
    border-radius: 50% 50%;
    margin-right: 5rem; }
    @media only screen and (max-width: 1400px) {
      .header__img {
        justify-self: center;
        margin-bottom: 5rem; } }
  .header__text {
    justify-self: start;
    font-size: 2rem;
    display: inline-block;
    width: 100%; }
    @media only screen and (max-width: 1400px) {
      .header__text {
        justify-self: center; } }
    .header__text__title {
      text-transform: uppercase;
      display: block;
      margin-bottom: 4rem; }
    .header__text__intro {
      font-size: 2rem;
      display: block;
      margin-bottom: 2rem;
      text-transform: uppercase; }
    .header__text__content {
      color: #777;
      font-size: 1.7rem;
      line-height: 2; }

.download_resume {
  margin-top: 2rem;
  text-decoration: none;
  display: inline-block;
  color: #777;
  font-size: 1.5rem; }
  .download_resume:hover, .download_resume:active {
    animation: pulsate 1s infinite;
    transition: all .5s infi; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    color: #777; }
  50% {
    transform: scale(1.5);
    color: #333; }
  100% {
    transform: scale(1);
    color: #777; } }

.education {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10rem;
  padding-bottom: 5rem;
  display: grid;
  grid-template-rows: repeat(2, max-content); }
  .education__title {
    grid-row: 1 / 2;
    display: block;
    margin-bottom: 10rem; }
  .education__schools {
    grid-row: 2 / 3;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-bottom: 10rem; }
    @media only screen and (max-width: 1200px) {
      .education__schools {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 5rem;
        justify-items: center; } }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 30rem;
  width: 30rem;
  display: inline-block; }
  @media only screen and (max-width: 1200px) {
    .card {
      width: 30rem;
      height: 70rem;
      display: grid;
      grid-template-rows: repeat(2, max-content);
      justify-items: center; } }
  @media only screen and (max-width: 1200px) {
    .card-1 {
      grid-row: 1 / 2; } }
  @media only screen and (max-width: 1200px) {
    .card-2 {
      grid-row: 2 / 3; } }
  @media only screen and (max-width: 1200px) {
    .card-3 {
      grid-row: 3 / -1; } }
  .card__side {
    height: 53rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(51, 51, 51, 0.15); }
    @media only screen and (max-width: 1200px) {
      .card__side {
        position: relative;
        height: 45rem;
        display: grid;
        grid-template-rows: repeat(2, 1fr); } }
    .card__side-front {
      background-color: #fff;
      grid-row: 1 / 2; }
    .card__side-back {
      transform: rotateY(180deg); }
      @media only screen and (max-width: 1200px) {
        .card__side-back {
          grid-row: 2 / 3;
          height: 25rem;
          transform: none; } }
      .card__side-back-1 {
        background-image: linear-gradient(to right bottom, rgba(255, 136, 136, 0.85), rgba(255, 0, 0, 0.85)); }
      .card__side-back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side-back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side-front {
    transform: rotateY(-180deg); }
    @media only screen and (max-width: 1200px) {
      .card:hover .card__side-front {
        transform: none; } }
  .card:hover .card__side-back {
    transform: rotateY(0); }
    @media only screen and (max-width: 1200px) {
      .card:hover .card__side-back {
        transform: none; } }
  .card__details {
    padding: 3rem; }
    @media only screen and (max-width: 1200px) {
      .card__details {
        transform: translateY(-3rem); } }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #f4f2f2; }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-left-radius: 3px; }
    @media only screen and (max-width: 1200px) {
      .card__picture {
        grid-column: 1 / 2;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); } }
    .card__picture-1 {
      background-image: url("../img/cmu.png");
      background-repeat: no-repeat;
      background-position: center center;
      object-fit: contain; }
    .card__picture-2 {
      background-image: url(../img/nthu.png);
      background-repeat: no-repeat;
      background-position: center center;
      object-fit: contain; }
    .card__picture-3 {
      background-image: url(../img/nsysu.png);
      background-repeat: no-repeat;
      background-position: center center;
      object-fit: contain; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
    @media only screen and (max-width: 1200px) {
      .card__cta {
        font-size: 2rem;
        width: 60%; } }
    .card__cta__text {
      font-size: 2.4rem;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 8rem; }
      @media only screen and (max-width: 1200px) {
        .card__cta__text {
          font-size: 2rem;
          margin-bottom: 3rem; } }
    .card__cta__btn {
      font-size: 2.4rem;
      text-transform: uppercase;
      color: #fff; }
      @media only screen and (max-width: 1200px) {
        .card__cta__btn {
          font-size: 2rem; } }

.experience {
  transition: all, .2s;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10rem;
  padding-bottom: 5rem;
  display: grid;
  grid-template-rows: repeat(4, max-content); }
  .experience__title {
    grid-row: 1 / 2;
    display: block;
    margin-bottom: 10rem; }
    .experience__title__skills {
      grid-row: 3 / 4;
      display: block;
      margin-bottom: 10rem; }
    .experience__title__skills::before {
      margin-top: 5rem;
      margin-bottom: 5rem;
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #bdb9b9; }
  .experience__content {
    grid-row: 2 / 3;
    display: grid;
    width: 100%;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 10rem;
    align-items: center;
    padding: 0 2rem 0 2rem; }
    .experience__content-1, .experience__content-2, .experience__content-3 {
      display: grid;
      grid-template-columns: 15% 1fr max-content 1fr;
      grid-gap: 5rem;
      justify-items: center; }
      @media only screen and (max-width: 1400px) {
        .experience__content-1, .experience__content-2, .experience__content-3 {
          grid-template-columns: repeat(2, minmax(120px, 1fr));
          grid-template-rows: repeat(2, max-content);
          align-items: center;
          justify-items: start; } }
      @media only screen and (max-width: 1000px) {
        .experience__content-1, .experience__content-2, .experience__content-3 {
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(2, max-content);
          align-items: center;
          justify-items: center; } }
    .experience__content-1__company {
      justify-self: left; }
    .experience__content-img {
      display: inline-block;
      height: 15rem;
      width: auto;
      align-self: center; }
      .experience__content-img:hover, .experience__content-img:active {
        transform: scale(1.1) translateY(-0.5rem); }
      @media only screen and (max-width: 1000px) {
        .experience__content-img {
          grid-column: 1 / 2;
          grid-row: 2 / 3;
          height: 10rem;
          width: auto; } }
    .experience__content-text {
      display: inline-block;
      justify-self: start; }
      @media only screen and (max-width: 1000px) {
        .experience__content-text {
          grid-column: 2 / 4;
          grid-row: 2 / 3; } }
    @media only screen and (max-width: 1000px) {
      .experience__content__date {
        justify-self: start; } }
  .experience__skills {
    grid-row: 4 / 5;
    display: grid;
    width: 100%;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    padding: 0 1rem 0 1rem; }
    .experience__skills__content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
      justify-items: center; }
      .experience__skills__content-1 {
        grid-row: 1 / 2; }
      .experience__skills__content-2 {
        grid-row: 2 / 3; }
      .experience__skills__content-3 {
        grid-row: 3 / 4; }
      .experience__skills__content-skill {
        justify-self: left; }
      .experience__skills__content-text {
        justify-self: left; }

.project {
  transition: all, .2s;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 10rem;
  padding-bottom: 5rem; }
  .project__title {
    grid-row: 1 / 2;
    display: block;
    margin-bottom: 10rem; }
  .project__figure {
    height: 25rem;
    width: auto;
    position: relative;
    overflow: hidden;
    transition: all .5s; }
    .project__figure:hover {
      transform: scale(1.2); }
  .project__img {
    height: 100%;
    transition: all .5s; }
  .project__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eee;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
    .project__caption-item {
      font-size: 1.2rem;
      display: inline-block;
      font-weight: 900;
      background-color: #333;
      padding: 5px 5px 5px 5px;
      border-radius: 5px; }
    .project__caption-anchor {
      font-size: 1rem;
      font-weight: 900;
      display: inline-block;
      color: #eee;
      text-decoration: none; }
  .project__figure:hover .project__img {
    filter: blur(3px) brightness(70%); }
  .project__figure:hover .project__caption {
    opacity: 1; }
  .project__content {
    width: 100%;
    padding: 0 2rem 0 2rem; }
    .project__content-1, .project__content-2 {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      column-gap: 5rem;
      justify-items: center;
      align-items: center;
      margin-bottom: 10rem; }
    .project__content-text {
      display: inline-block;
      justify-self: start;
      margin-bottom: 7.5rem; }

.footer {
  padding: 2rem 0 2rem 0;
  background-color: #333;
  height: 15rem;
  display: grid;
  grid-template-rows: repeat(2, max-content);
  align-items: center;
  justify-items: center; }
  .footer__nav {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    align-items: center;
    column-gap: 2rem;
    list-style-type: none; }
  .footer__icon {
    display: inline-block;
    height: 5rem;
    width: auto;
    fill: #faf9f9; }
    .footer__icon__linkedin {
      grid-column: 1 / 2; }
    .footer__icon__linkedin {
      grid-column: 1 / 2; }
