.education {

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10rem;
    padding-bottom: 5rem;

    display: grid;
    grid-template-rows: repeat(2, max-content);

    &__title {
        grid-row: 1 / 2;
        // text-align: center;
        display: block;
        margin-bottom: 10rem;
    }

    &__schools {
        grid-row: 2 / 3;
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        margin-bottom: 10rem;

        @media only screen and (max-width: 1200px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            row-gap: 5rem;
            justify-items: center;
        }

    }
}

.card {

    // Funtionalities
    perspective: 150rem;
    -moz-perspective: 150rem; // for firefox
    position: relative;
    height: 30rem;
    width: 30rem;
    display: inline-block;

    @media only screen and (max-width: 1200px) {
        width: 30rem;
        height: 70rem;
        display: grid;
        // grid-template-columns: repeat(3, max-content);
        grid-template-rows: repeat(2, max-content);
        justify-items: center;
    }

    &-1 {

        @media only screen and (max-width: 1200px) {
            grid-row: 1 / 2;
        }
    }

    &-2 {
        // grid-column: 2 / 3;
        @media only screen and (max-width: 1200px) {
            grid-row: 2 / 3;
        }
    }

    &-3 {
        // grid-column: 3 / -1;
        @media only screen and (max-width: 1200px) {
            grid-row: 3 / -1;
        }
    }

    
    &__side {
        // background-color: orangered;
        height: 53rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        overflow: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-grey-dark-1, .15);

        @media only screen and (max-width: 1200px) {
            position: relative;
            height: 45rem;
            display: grid;
            grid-template-rows: repeat(2, 1fr);

            // align-items: center;
        }


         // 1 side for front, 1 side for back
        &-front {
            background-color: #fff;
            grid-row: 1 / 2;

            // @media only screen and (max-width: 1200px) {
            //     display: grid;
            //     grid-template-columns: repeat(2, max-content);
            //     grid-template-rows: repeat(2, max-content);
            // }
        }

        &-back{
            transform: rotateY(180deg);

            @media only screen and (max-width: 1200px) {
                grid-row: 2 / 3;
                height: 25rem;
                transform: none;

            }

            &-1 {
                background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }

    &:hover &__side-front {
        transform: rotateY(-180deg);

        @media only screen and (max-width: 1200px) {
            transform: none;
        }
    }

    &:hover &__side-back {
        transform: rotateY(0);

        @media only screen and (max-width: 1200px) {
            transform: none;
        }
    }


    &__details {
        padding: 3rem;

        @media only screen and (max-width: 1200px) {
            transform: translateY(-3rem);
        }

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }

    // Front side styling
    &__picture {

        background-size: cover;
        height: 23rem; // if we don't get it a height, it will be small picture
        background-blend-mode: screen; // blend 2 background image together
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-left-radius: 3px;

        @media only screen and (max-width: 1200px) {
            grid-column: 1 / 2;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        }
      

        &-1 {
            background-image: url("../img/cmu.png");
            background-repeat: no-repeat;
            background-position: center center;
            object-fit: contain;
        }

        &-2 {
            background-image: url(../img/nthu.png);
            background-repeat: no-repeat;
            background-position: center center;
            object-fit: contain;
        }

        &-3 {
            background-image: url(../img/nsysu.png);
            background-repeat: no-repeat;
            background-position:center center;
            object-fit: contain;
            
        }

    }

    // back side styling
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;

        @media only screen and (max-width: 1200px) {
            font-size:2rem;
            width: 60%;
        }

        &__text {
            font-size:2.4rem;
            text-transform: uppercase;
            color: #fff;
            margin-bottom: 8rem;

            @media only screen and (max-width: 1200px) {
                font-size:2rem;
                margin-bottom: 3rem;
            }
      
        }

        &__btn {
            font-size:2.4rem;
            text-transform: uppercase;
            color: #fff;

            @media only screen and (max-width: 1200px) {
                font-size:2rem;
            }
        }
    }

}