.experience {

    transition: all, .2s;
    padding-left: 20rem;
    padding-right: 20rem;
    padding-top: 10rem;
    padding-bottom: 5rem;

    display: grid;
    grid-template-rows: repeat(4, max-content);


    &__title {
        grid-row: 1 / 2;
        // text-align: center;
        display: block;
        margin-bottom: 10rem;
        
        &__skills {
            grid-row: 3 / 4;
            display: block;
            margin-bottom: 10rem;
        }
        &__skills::before {
            margin-top: 5rem;
            margin-bottom: 5rem;
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: $bg-overlay-colo-5;
        }
        
    }
   
    &__content {

        grid-row: 2 / 3;

        display: grid;
        width: 100%;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 10rem;
        align-items: center;
        padding: 0 2rem 0 2rem;
        // transition: all, 10s;

        &-1,
        &-2,
        &-3 {
            display: grid;
            grid-template-columns: 15% 1fr max-content 1fr;
            grid-gap: 5rem;
            // align-items: center;
            justify-items: center;

        }

        &-1 {
            grid-row: 1 / 2;

            &__company {
                grid-column: 1 / 2;
                justify-self: left;
            }
        }

        // &-2 {
        //     grid-row: 2 / 3;
        // }
        // &-3 {
        //     grid-row: 3 / 4;
        // }


        &-img {
            display: inline-block;
            height: 15rem;
            width: auto;
            grid-column: 2 / 3;

            &:hover,
            &:active {
            transform: scale(1.1) translateY(-0.5rem);

            }
        }

        &-text {
            grid-column: 4 / 5;
            display: inline-block;
            justify-self: start;
        }
    } 
    
    &__skills {
        grid-row: 4 / 5;
        display: grid;
        width: 100%;
        grid-template-rows: repeat(3, 1fr);
        // row-gap: 1rem;
        align-items: center;
        padding: 0 1rem 0 1rem;
        // transition: all, 10s;

        &__content {

            display: grid;
            grid-template-columns: 20% 1fr 10% 1fr;
            grid-gap: 5rem;
            // align-items: center;
            justify-items: center;

            &-1 {
                grid-row: 1 / 2;
            }

            &-2 {
                grid-row: 2 / 3;
            }

            &-3 {
                grid-row: 3 / 4;
            }

            &-skill {
                grid-column: 1 / 2;
                justify-self: left;
            }

            &-text {
                grid-column: 4 / 5;
                justify-self: left;
            }
        }
    }
}




