.header {
    padding: 15rem 20rem 15rem 20rem;
    color: $color-grey-dark-1;
    line-height: 1;

    display: grid;
    // grid-template-rows: 10vh 90vh;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-items: center;
    align-items: center;

    // animation: moveInBottom;
    // animation-duration: 1s;
    // animation-timing-function: ease-out;


    &__img {
        justify-self: end;
        display: inline-block;
        height: auto;
        width: 45rem;
        border-radius: 50% 50%;
        margin-right: 5rem;

        @media only screen and (max-width: 1400px) {
            justify-self: center;
            margin-bottom: 5rem;
        }
    }

    &__text {
        justify-self: start;
        font-size: 2rem;
        display: inline-block;
        width: 100%;

        @media only screen and (max-width: 1400px) {
            justify-self: center;
        }

        &__title {
            text-transform: uppercase;
            display: block;
            margin-bottom: 4rem;
        }

        &__intro {
            font-size: 2rem;
            display: block;
            margin-bottom: 2rem;
            text-transform: uppercase;
        }

        &__content {
            color: $color-grey-dark-2;
            font-size: 1.7rem;
            line-height: 2;
        }

        
    }

}
.download_resume {
    margin-top: 2rem;
    text-decoration: none;
    display: inline-block;
    color: red;

    font-size: 1.5rem;

    

    &:hover,
    &:active {
        animation: pulsate 1s infinite;
        transition: all .5s infi;
    }
}

// btn-inline customerize animation
@keyframes pulsate {
    0% {
        transform: scale(1); // in the beginning, we do not have any effect
        color: red;
    }

    50% {
        transform: scale(1.5);
        // color: red;
    }

    100% {
        transform: scale(1); // in the end, we do not have any effect
        color: red;
    }

}