.navbar {
    font-family: $font-primary;
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    color: $color-grey-dark-1;
    align-items: center;
    
    &__name {
        font-size: 2rem;
        font-weight: 800;
        padding-left: 2rem;
        display: inline-block;
        padding-right: 1rem;
        cursor: pointer;
        transition: all .2s;


        &::before {
            content: "";
            height: 2rem;
            width: 2rem;
            background-color: blue;
            border-radius: 50% 50%;
            display: inline-block;
            margin-right: 8px;
            vertical-align: -4px;
        }
        &:hover {
            transform: translateY(-3px);
        }
    }

    &__title {
        font-size: 1.5rem;
        display: inline-block;
    }

    &__nav {
        
        list-style: none;
        grid-column: 3 / -1;
        
        display: grid;
        grid-template-columns: 1fr repeat(3, max-content);
        column-gap: 2rem;
        align-items: center;
        justify-items: end;
        
        &__link,
        &__link:visited {
            font-size: 1.7rem;
            color: $color-grey-dark-1;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            padding: 1.5rem;
            display: block;
            transition: all .2s;
    
            // background-color: rgba(#fff, .05);
        }

        &__link:hover,
        &__link:active {
            transform: translateY(-4px);
        }
    }
   
    // font-weight: 400;
}