.project {

    transition: all, .2s;
    padding-left: 20rem;
    padding-right: 20rem;
    padding-top: 10rem;
    padding-bottom: 5rem;

    display: grid;
    grid-template-rows: repeat(2, max-content);


    &__title {
        grid-row: 1 / 2;
        // text-align: center;
        display: block;
        margin-bottom: 10rem;
        
    }
   
    &__content {

        grid-row: 2 / 3;

        display: grid;
        width: 100%;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 10rem;
        align-items: center;
        padding: 0 2rem 0 2rem;
        // transition: all, 10s;

        &-1,
        &-2
        {
            display: grid;
            grid-template-columns: 1fr 15% 1fr;
            grid-gap: 5rem;
            justify-items: center;
            align-items: center;

        }

        &-img {
            display: inline-block;
            height: 25rem;
            width: auto;
            grid-column: 3 / -1;

            &:hover,
            &:active {
            transform: scale(1.1) translateY(-0.5rem);

            }
        }

        &-text {
            grid-column: 1 / 2;
            display: inline-block;
            justify-self: start;
        }
    } 
}




